
{% extends 'pages/in/layout.html.twig' %}


{# HEADERS #}
    {% block description %}{{- canvas.notes.article.description|escape -}}{% endblock %}
    {% block twitter_image %}{{ absolute_url('/images/logo/' ~ canvas.notes.article.cover) }}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('stylesheets/notes_article.css') }}" >
    {% endblock %}
    {% block darkmode_stylesheet %}
        {% if canvas.misc.theme_state == true %}
            <link rel="stylesheet" href="{{ asset('/stylesheets/darkmode.css') }}" watch="theme" />
        {% else %}
            <link rel="stylesheet" href="{{ asset('/stylesheets/lightmode.css') }}" watch="theme" />
        {% endif %}
    {% endblock %}
{# HEADERS - END #}


{% block page_contents %}
    {# <h1>{{ canvas.notes.article.cover }}</h1> #}

    <span id="page-assistant" class="hd" pid="{{ canvas.notes.article.pid }}" visit=""></span>

    <div class="atc-title-cover">
        <ul class="atc-poster-title ul ft-sect clear-fix">
            
        </ul>
        <p class="atc-title-date ft-sect">
            <strong>{{- canvas.notes.article.views }} views</strong>
            <span>|</span>
            <strong>{{- canvas.notes.article.date -}}</strong>
        </p>
        <h1 class="atc-title-lead ft-menu">{{ canvas.notes.article.title }}</h1>
        <p class="atc-title-date ft-sect">
            <div class="nt-article-share nt-article-share-stay" article-share-stay>
                <a href="{{ canvas.notes.share.facebook }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank" class="sharer-facebook">
                    <li class="fa-brands fa-facebook-f"></li>
                </a>
                <a href="{{ canvas.notes.share.twitter }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank" class="sharer-twitter">
                    <li class="fa-brands fa-twitter"></li>
                </a>
                <a href="{{ canvas.notes.share.linkedin }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank" class="sharer-linkedin">
                    <li class="fa-brands fa-linkedin-in"></li>
                </a>
                <a id="share_link" data-copy-on-click="{{ canvas.notes.share.web }}" class="sharer-copylink">
                    <li class="fa-solid fa-link"></li>
                </a>
            </div>
        </p>
    </div>

    <div class="atc-cover-bck bck lozad" id="atc-cover" width="{{ canvas.notes.article.cover_width }}" height="{{ canvas.notes.article.cover_height }}" data-background-image="{{ canvas.notes.article.cover }}">

    </div>

    <div class="atc-content atc-width ft-sect">
        <p class="first-paragraph">{{ canvas.notes.article.body|nl2br }}</p>
        <span class="">
            {# {{ canvas.notes.article.extensions }} #}
        </span>
    </div>

    {# Actions #}
    <section class="article-action">
        <ul class="nt-ul-none nt-lay-flex">
            <li class="">
                <label action-like>
                    <input type="checkbox" name="like" class="atc-note-like-input hd" {{ canvas.notes.reaction.like_checked }} />
                    <p icon-everytime><i class="{{ canvas.notes.reaction.like_icon }}"></i></p>
                    <p class="nt-ft-lato nt-txt-sm8">{{ canvas.notes.reaction.like_number }}</p>
                </label>
            </li>
            <li class="">
                <a href="{{ canvas.notes.article.comment_url }}" class="nt-a">
                    <p icon-everytime><i class="far fa-comment"></i></p>
                    <p class="nt-ft-lato nt-txt-sm8">{{ canvas.notes.reaction.comment_number }}</p>
                </a>
            </li>
            <li class="">
                <label action-save>
                    <input type="checkbox" name="save" class="atc-note-save-input hd" {{ canvas.notes.reaction.save_checked }} />
                    <p icon-everytime><i class="{{ canvas.notes.reaction.save_icon }}"></i></p>
                    <p class="nt-ft-lato nt-txt-sm8">Save</p>
                </label>
            </li>
        </ul>
    </section>

    <section class="article-poster atc-width">
        <h2 about-section>About Writer</h2>
        <ul class="nt-ul-none nt-lay-flex" img-name>
            <a href="{{ canvas.notes.poster.profile_url }}" class="nt-a">
                <li class="nt-ui-bck nt-ui-rad50 lozad" data-background-image="{{ canvas.notes.poster.display }}" img></li>
            </a>
            <li class="">
                <ul class="nt-ul-none">
                    <li name>
                        <a href="people.php?up={{ canvas.notes.poster.username }}" class="nt-a">{{ canvas.notes.poster.name }}</a>
                    </li>
                    <li numbers>
                        <span><strong>{{ canvas.notes.viewer.note_posted }}</strong> <small>articles</small> ::</span>
                        <span><strong>{{ canvas.notes.viewer.subscribers }}</strong> <small>followers</small></span>
                    </li>
                    <li follow>
                        <label class="atc-note-subscribe" follow-button>
                            <input type="checkbox" name="subscribe" class="atc-note-subscribe-input hd" {{ canvas.notes.reaction.subscribe_state }} />
                            <p class="">{{ canvas.notes.reaction.subscribe_text }}</p>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <div class="atc-comment atc-width">
        <p class="atc-comment-caveat rad2 ft-sect">Be frank and respectful. We have <a href="#">policies</a>, though.</p>

        {% if canvas.profile.visitor_state == false %}
            <form method="post" name="comment">
                <div class="cmt-container clear-fix">
                    <div class="cmt-user-img bck lozad" data-background-image="{{ canvas.notes.viewer.display }}">
                    </div>
                    <div id="cmt-area" class="cmt-area">
                        <input type="hidden" id="comment-assistant" pid="{{ canvas.notes.article.pid }}" name="{{ canvas.notes.poster.name }}" uname="{{ canvas.notes.poster.username }}" />
                        <textarea name="comment" id="cmt-area-textarea" class="cmt-area-textarea noresize ft-sect" placeholder="Share your thoughts.."></textarea><!--
                        --><button id="cmt-area-post" class="atc-area-but opas5" disabled>Post</button>
                    </div>
                </div>
            </form>
        {% endif %}

        <div class="atc-comment-thoughts">
            <ul id="comment_un_list" class="ul">
                {% for comment in canvas.notes.comment %}
                    <li id="article-note-comment-park" class="nu-li ft-sect">
                        <a class="a" href="{{ comment.comment_url }}">
                            <strong>{{- comment.name -}}</strong>
                            <span>{{- comment.comment -}}</span>
                            <br><small>{{- comment.date -}}</small>
                        </a>
                    </li>
                {% endfor %}
                <li class="nu-comment-li nu-li-last ft-sect"></li>
            </ul>
        </div>
    </div>

    <div class="article-history atc-width">
        <h1 id="article-history-namer" class="ft-menu">Read More</h1>
        {# {{}} #}
        {% for note in canvas.notes.note_more %}
            <div class="artHist">
                <span id="page-assistant" class="hd" pid="{{note.pid}}" uid=""></span>
                <a href="{{note.post_url}}" class="artHist-a a">
                    <div class="artHist-display lozad rad4 bck fwl" data-background-image="{{note.cover}}">

                    </div>
                    <div class="artHist-title fwl">
                        <div>
                            <p>{{note.name}}</p>
                            <h1 class="artHist-h1 trn3-color">{{- note.eye ~ ' ' ~ note.title -}}</h1>
                            <p>{{note.paragraphs}} paragraphs</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div> 
{% endblock page_contents %}



{% block script_modules %}
    <script type="module" type="text/javascript" src="{{  asset('/scripts/index.js')}}"></script>
    <script type="module" type="text/javascript" src="{{  asset('/scripts/article/copy_on_click.js')}}"></script>
    <script type="module" type="text/javascript" src="{{  asset('/scripts/article/article_verbs.js')}}"></script>
{% endblock %}