
{% extends 'pages/in/layout.html.twig' %}


{# HEADERS #}
    {% block title %}Article{% endblock %}
    {% block robots %}false{% endblock %}
    {% block description %}Notes helps you share, educate and inspire with writing. And do it in just 7 paragraphs. It's for the creators who write.{% endblock %}
    {% block twitter_image %}{{ absolute_url('images/logo/logo-white-full.png') }}{% endblock %}
    {% block page_url %}{{ absolute_url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('stylesheets/notes_article.css') }}" >
    {% endblock %}
    {% block darkmode_stylesheet %}
        <link rel="stylesheet" href="{{ asset('stylesheets/lightmode.css') }}" watch="theme" >
    {% endblock %}
{# HEADERS - END #}


{% block page_contents %}
    <h1>{{ canvas.profile.message }}</h1>

    {# <span id="page-assistant" class="hd" pid="{{}}" puid="{{}}" uid="{{}}" visit="{{}}" theme="{{}}"></span>

    <div class="atc-title-cover">
        <ul class="atc-poster-title ul ft-sect clear-fix">
            {{}}
        </ul>
        <p class="atc-title-date ft-sect">
            <strong>{{}} views</strong>
            <span>|</span>
            <strong>{{}}</strong>
        </p>
        <h1 class="atc-title-lead ft-menu"></h1>
        <p class="atc-title-date ft-sect">
            <div class="nt-article-share nt-article-share-stay" article-share-stay>
                <a href="" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank" class="sharer-facebook">
                    <li class="fa-brands fa-facebook-f"></li>
                </a>
                <a href="{{}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank" class="sharer-twitter">
                    <li class="fa-brands fa-twitter"></li>
                </a>
                <a href="{{}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank" class="sharer-linkedin">
                    <li class="fa-brands fa-linkedin-in"></li>
                </a>
                <a id="share_link" data-copy-on-click="{{}}" class="sharer-copylink">
                    <li class="fa-solid fa-link"></li>
                </a>
            </div>
        </p>
    </div>

    <div class="atc-cover-bck bck lozad" id="atc-cover" width="{{}}" height="{{}}" data-background-image="{{}}">

    </div>

    <div class="atc-content atc-width ft-sect">
        <p class="first-paragraph">{{}}</p>
        <span class="">
            {{}}
        </span>
    </div>

    <section class="article-action">
        <ul class="nt-ul-none nt-lay-flex">
            <li class="">
                <label action-like>
                    <input type="checkbox" name="like" class="atc-note-like-input hd" {{}} />
                    <p><i class="{{}}"></i></p>
                    <p class="nt-ft-lato nt-txt-sm8"></p>
                </label>
            </li>
            <li class="">
                <label action-unlike>
                    <input type="checkbox" name="unlike" class="atc-note-unlike-input hd" {{}} />
                    <p><i class="{{}}" ></i></p>
                    <p class="nt-ft-lato nt-txt-sm8">Dislike</p>
                </label>
            </li>
            <li class="">
                <a href="comments.php?wp={{}}" class="nt-a">
                    <p><i class="far fa-comment"></i></p>
                    <p class="nt-ft-lato nt-txt-sm8">{{}}</p>
                </a>
            </li>
            <li class="">
                <label action-save>
                    <input type="checkbox" name="save" class="atc-note-save-input hd" {{}} />
                    <p><i class="{{}}"></i></p>
                    <p class="nt-ft-lato nt-txt-sm8">Save</p>
                </label>
            </li>
        </ul>
    </section>

    <section class="article-poster atc-width">
        <h2 about-section>About Writer</h2>
        <ul class="nt-ul-none nt-lay-flex" img-name>
            <a href="people.php?up={{}}" class="nt-a">
                <li class="nt-ui-bck nt-ui-rad50" style="background-image:url({{}})" img></li>
            </a>
            <li class="">
                <ul class="nt-ul-none">
                    <li name>
                        <a href="people.php?up={{}}" class="nt-a">{{}}</a>
                    </li>
                    <li numbers>
                        <span><strong>{{}}</strong> <small>articles</small> ::</span>
                        <span><strong>{{}}</strong> <small>followers</small></span>
                    </li>
                    <li follow>
                        <label class="atc-note-subscribe" follow-button>
                            <input type="checkbox" name="subscribe" class="atc-note-subscribe-input hd" {{}} />
                            <p class="">{{}}</p>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <div class="atc-comment atc-width">
        <p class="atc-comment-caveat rad2 ft-sect">Be frank and respectful. We have <a href="#">policies</a>, though.</p>

        {{}}

        <div class="atc-comment-thoughts">
            <ul id="comment_un_list" class="ul">
                {{}}
                <li class="nu-comment-li nu-li-last ft-sect"></li>
            </ul>
        </div>
    </div>

    <div class="article-history atc-width">
        <h1 id="article-history-namer" class="ft-menu">Read More</h1>
        {{}}
    </div> #}
{% endblock page_contents %} 



{% block script_modules %}
    <script type="module" type="text/javascript" src="{{  asset('scripts/index.js')}}"></script>
    <script type="module" type="text/javascript" src="{{  asset('scripts/article/copy_on_click.js')}}"></script>
    <script type="module" type="text/javascript" src="{{  asset('scripts/article/article_verbs.js')}}"></script>
{% endblock %}