


<h1>Hello {{ user_first_name }}!</h1>
<p>You have {{ notifications|length }} new notifications.</p>
<a href="{{ path('note_about') }}">
    Profile Page
</a>
<br>
<a href="{{ url('note_posts', {post_id: 'hahahah'}) }}">
    This Article
</a>

{# the image lives at "public/images/.." #}
{# <img src="{{ asset('images/1.gif') }}" alt="" /> #}
{# <img src="{{ absolute_url('images/2.jpg') }}" alt="" /> #}


<p>Username: {{ app.user.username ?? 'Anonymous user' }}</p>
{% if app.debug %}
    <p>Request method: {{ app.request.method }}</p>
    <p>Application Environment: {{ app.environment }}</p>
{% endif %}
