
{% extends 'pattern.html.twig' %}

{# HEADERS #}
    {% block stylesheets %}
    {% endblock stylesheets %}

    {% block script_modules %}
    {% endblock %}
{# HEADERS - END #}


{# CONTENT #}
    {% block page_contents %}

        {% if canvas.profile.visitor_state == true %}
            <div class="nts-host-jumbotron relative">
                <div class="nts-host-jumbotron-opacity"></div>
                <div class="nts-host-jumbotron-center">
                    <h1>For the Creators Who Write</h1>
                    <p>Notes is your journal. Share, Educate, and Inspire with writing</p>
                </div>
            </div>
        {% endif %}

        <div class="nts-assembly-description">
            <h1>Latest Picks</h1>
        </div>
        <div class="nts-host-parent clear-fix">
            {# Articles #}
            {% for board in canvas.notes %}
                <div class="nts-host relative">
                    <span id="page-assistant" class="hd" pid="{{board.pid}}" link="{{board.post_link}}" save_state="{{board.save}}" like_state="{{board.like}}" unlike_state="{{board.unlike}}"></span>
                    <a href="{{board.post_url}}" class="nts-host-anchor a">
                        <div class="nts-host-display lozad bck relative" data-background-image="{{- asset(board.cover) -}}">
                            {% if board.note_is_img == true %}
                                <div class="nts-host-display-type nt-ui-rad4 ft-sect"><span>photo</span></div>
                            {% endif %}
                        </div>
                        <div class="nts-host-verb ft-sect">
                            <p>
                                <strong title="Paragraphs">{{ board.paragraphs }}</strong><span class=""> paragraphs</span>
                            </p>
                        </div>
                        <div id="nts-host-title" class="nts-host-title">
                            <p class="trn3-color">{{ board.title }}</p>
                        </div>
                    </a>
                    <div class="nts-host-verb-author ft-sect">
                        <a href="{{board.profile_url}}" class="a">
                            <p>{{ board.poster_name }}</p>
                        </a>
                        <a href="#" class="a">
                            <button class="nts-show-menu no-bod" visit="{{canvas.profile.visitor_state}}"><i class="lg-i fa fa-ellipsis-v"></i></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if canvas.misc.load_more == true %}
            <div class="nt-infinitescroll-div">
                <button class="infinite-home nt-infinitescroll nt-ui-rad20">Find more <i class="fa fa-chevron-right"></i></button>
            </div>
        {% endif %}

    {% endblock %}
{# CONTENT - END #}
