
{% extends 'pages/in/layout.html.twig' %}


{# HEADERS #}
    {% block darkmode_stylesheet %}
        {% if canvas.misc.theme_state == true %}
            <link rel="stylesheet" href="{{ asset('/stylesheets/darkmode.css') }}" watch="theme" />
        {% else %}
            <link rel="stylesheet" href="{{ asset('/stylesheets/lightmode.css') }}" watch="theme" />
        {% endif %}
    {% endblock %}
{# HEADERS - END #}


{# CONTENT #}
    {% block page_contents %}

        {# <h1>"{{ canvas.misc.theme_logo }}"</h1> #}

        {% if canvas.profile.visitor_state == true %}
            <div class="nts-host-jumbotron relative">
                <div class="nts-host-jumbotron-opacity"></div>
                <div class="nts-host-jumbotron-center">
                    <h1>For the Creators Who Write</h1>
                    <p>Notes is micro-blogging platform to Share, Educate, and Inspire with writing</p>
                </div>
            </div>
        {% endif %}
        
        <div class="nts-assembly-description">
            <h1>Latest Picks</h1>
        </div>
        <div class="nts-host-parent clear-fix">
            {# Articles #}
            {% for board in canvas.notes %}
                <div class="nts-host relative">
                    <span id="page-assistant" class="hd" pid="{{board.pid}}" title="{{board.title}}" link="{{board.profile_url}}" poster="{{board.poster_name}}" save_state="{{board.save}}" like_state="{{board.like}}" unlike_state="{{board.unlike}}"></span>
                    <a href="{{board.post_url}}" class="vw-anchor-pages nts-host-anchor a">
                        <div class="nts-host-display lozad bck relative" data-background-image="{{- asset(board.cover) -}}">
                            {% if board.note_is_img == true %}
                                <div class="nts-host-display-type nt-ui-rad4 ft-sect"><span>photo</span></div>
                            {% endif %}
                            <div class="nts-host-display-filter"></div>
                        </div>
                        <div class="nts-host-verb ft-sect">
                            <p>
                                <strong title="Paragraphs">{{ board.paragraphs }}</strong><span class=""> paragraphs</span>
                            </p>
                        </div>
                        <div id="nts-host-title" class="nts-host-title">
                            <p class="trn3-color">{{ board.title }}</p>
                        </div>
                    </a>
                    <div class="nts-host-verb-author ft-sect">
                        <a href="{{board.profile_url}}" class="a">
                            <p>{{ board.poster_name }}</p>
                        </a>
                        <a href="#" class="a">
                            <button class="nts-show-menu no-bod" visit="{{canvas.profile.visitor_state}}"><i class="lg-i fa fa-ellipsis-v"></i></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if canvas.misc.load_more == true %}
            <div class="nt-infinitescroll-div">
                <button class="infinite-home nt-infinitescroll nt-ui-rad20">Find more <i class="fa fa-chevron-right"></i></button>
            </div>
        {% endif %}

    {% endblock %}
{# CONTENT - END #}


{% block script_modules %}
    <script type="module" type="text/javascript" src="{{  asset('scripts/index.js')}}"></script>
    <script type="module" type="text/javascript" src="{{  asset('scripts/grow.js')}}"></script>
{% endblock %}
