
{% extends 'pages/pattern.html.twig' %}

{% block content %}
    {% block header %}
        {% if canvas.profile.visitor_state == true %}
            <div class="n-header n-header-visitor desktop mobile glsmpsm" id="n-header">
                <div class="n-header-one">
                    <a href="{{ url('note_home') }}" class="a">
                        <p><img src="{{ asset('images/logo/notes.png') }}" /><br><span>(Beta)</span></p>
                    </a>
                </div>
                <div class="n-header-two reception-header">
                    <a href="sign_up.php" class="a">
                        <button class="reception-header-signup rad20 trn3-color">Sign up</button>
                    </a>
                    <a href="log_in.php" class="a">
                        <button class="reception-header-signin rad20 trn3-color">Log in</button>
                    </a>
                </div>
            </div><div class="n-header-height n-header-height-visitor"></div>
        {% else %}
            <div class="n-header desktop mobile glsmpsm" id="n-header">
                <div class="plain">
                    <div class="plain-left">
                        <a href="{{ url('note_home') }}">
                            <p><img src="{{ asset('images/logo/notes.png') }}" alt="Notes" /><br><span>(Beta)</span></p>
                        </a>
                    </div>
                    <div class="plain-right">
                        <a href="#" class="note-menu-open" title="Show menu">
                            <p><i class="fa-solid fa-bars"></i><br><span>More</span></p>
                        </a>
                        <a href="write.php" class="note-yours-prevent" title="Share something great">
                            <p><i class="fa-solid fa-plus"></i><br><span>Write</span></p>
                        </a>
                        <a href="{{ url('note_home') }}" title="From the community">
                            <p><i class="fa-solid fa-house"></i><br><span>Home</span></p>
                        </a>
                    </div>
                </div>
            </div><div class="n-header-height"></div>
            <div class="n-header n-header-mobile desktop mobile glsmpsm" id="n-header">
                <div class="plain">
                    <div class="plain-center">
                        <a href="#" class="note-menu-open" title="Show menu">
                            <p><i class="fa-solid fa-bars"></i><br><span>More</span></p>
                        </a>
                        <a href="write.php" class="note-yours-prevent" title="Share something great">
                            <p><i class="fa-solid fa-plus"></i><br><span>Write</span></p>
                        </a>
                        <a href="{{ url('note_home') }}" title="From the community">
                            <p><i class="fa-solid fa-house"></i><br><span>Home</span></p>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block block_small_menu %}
        <div class="notes-small-menu-container" style="display:none">
            <a href="#" class="note-small-menu-container-close a">
                <div class="glsmpsm men-cvr"></div>
            </a>
            <div class="nts-host-menu"></div>
        </div>
    {% endblock %}

    {% block block_page_contents %}
        <div class="note-div desktop tablet mobile relative" id="note-div">
            <div id="notes-container" class="home-notes-cover">
                {% block page_contents %}{% endblock %}
            </div>
        </div>
    {% endblock %}

    {# {% block footer %}{% endblock %} #}
{% endblock %}
