
{% block followers_page_one %}
    {{ block('follows_header') }}

    <div class="pc-user-world center">
        <div class="vf">
            <div class="vf clear-fix">
                <div class="pt-one">
                    <div class="profile-user-navigation ft-sect">
                        <a href="#" class="profile-tab-active a">
                            <p>{{canvas.notes.profile.followers}} Followers</p>
                        </a>
                        <a href="{{ path('note_following', {'user_name':canvas.notes.profile.username}) }}" class="a">
                            <p>{{canvas.notes.profile.following}} Following</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="followpage-envelope desktop-middle tablet mobile-followpage">
            {{ block('followers_list') }}
        </div>
        <br>
    </div>
{% endblock followers_page_one %}

{% block following_page_one %}
    {{ block('follows_header') }}

    <div class="pc-user-world center">
        <div class="vf">
            <div class="vf clear-fix">
                <div class="pt-one">
                    <div class="profile-user-navigation ft-sect">
                        <a href="{{ path('note_followers', {'user_name':canvas.notes.profile.username}) }}" class="a">
                            <p>{{canvas.notes.profile.followers}} Followers</p>
                        </a>
                        <a href="#" class="profile-tab-active a">
                            <p>{{canvas.notes.profile.following}} Following</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="followpage-envelope desktop-middle tablet mobile-followpage">
            {{ block('following_list') }}
        </div>
        <br>
    </div>
{% endblock following_page_one %}

{% block followers_list %}
    {% if canvas.notes.follows != null %}
        {% for row in canvas.notes.follows %}
            <div class="followpeople clear-fix relative">
                <a class="a" href="{{ path('note_profile', {'user_name':row.username}) }}">
                    <div class="fwl followpeople-left">
                        <img class="followpeople-left-img rad50 lozad" data-src="{{ row.display }}" />
                    </div>
                    <div class="fwl followpeople-right">
                        <h1 class="followpeople-right-h1 ft-sect" id="followpeople-right-h1">{{ row.name }}</h1>
                        <span class="sm-i note-e ft-sect">@{{ row.username }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <span class="center note-e ft-sect">
            You don't have followers, yet
        </span>
    {% endif %}
{% endblock followers_list %}

{% block following_list %}
    {% if canvas.notes.follows != null %}
        {% for row in canvas.notes.follows %}
            <div class="followpeople clear-fix relative">
                <input class="unsub-assistant" type="hidden" puid="" uid=""/>
                <a class="a" href="{{ path('note_profile', {'user_name':row.username}) }}">
                    <div class="fwl followpeople-left">
                        <img class="followpeople-left-img rad50 lozad" data-src="{{ row.display }}" />
                    </div>
                    <div class="fwl followpeople-right">
                        <h1 class="followpeople-right-h1 ft-sect" id="followpeople-right-h1">{{ row.name }}</h1>
                        <span class="sm-i note-e ft-sect">@{{ row.username }}</span>
                    </div>
                </a>
                <label class="followpeople-unsubs ft-sect">
                    <input type="checkbox" name="subscribe" class="followpeople-unsubs-input" {{ row.state }} />
                    <span class=""><i class=""></i> <span>{{ row.state_text }}</span></span>
                </label>
            </div>
        {% endfor %}
    {% else %}
        <span class="center note-e ft-sect">
            You don't follow any account
        </span>
    {% endif %}
{% endblock following_list %}

{% block follows_header %}
    <div class="profile-headers clear-fix">
        <div class="profile-headers-div fwl">
            <a class="a" href="{{ path('note_profile', {'user_name':canvas.notes.profile.username}) }}"><button class="profile-headers-button ft-sect no-bod"><i class="profile-headers-button-i sm-i fa fa-arrow-left"></i> profile</button></a>
        </div>
        <div class="profile-headers-div fwr">

        </div>
    </div>
{% endblock follows_header %}