

{% block profile_navigation %}
    <div class="profile-user-navigation ft-sect">
        <a href="{{ path('note_profile', {'user_name':canvas.notes.profile.username}) }}" class="{{canvas.notes.nav_menu.profile}} a">
            <p>Notes</p>
        </a>
        <a href="{{ path('note_history', {'user_name':canvas.notes.profile.username}) }}" class="{{canvas.notes.nav_menu.history}} a">
            <p>History</p>
        </a>
        <a href="{{ path('note_draft', {'user_name':canvas.notes.profile.username}) }}" class="{{canvas.notes.nav_menu.draft}} a">
            <p>Drafts</p>
        </a>
        <a href="{{ path('note_saved', {'user_name':canvas.notes.profile.username}) }}" class="{{canvas.notes.nav_menu.saved}} a">
            <p>Saved</p>
        </a>
    </div>
{% endblock profile_navigation %}

{% block nav_header %}
    <div class="profile-headers clear-fix">
        <div class="profile-headers-div fwl">
            <a class="a" href="{{ path('note_profile', {'user_name':canvas.notes.profile.username}) }}">
                <button class="profile-headers-button ft-sect no-bod">
                    <i class="profile-headers-button-i sm-i fa fa-arrow-left"></i> profile
                </button>
            </a>
        </div>
        <div class="profile-headers-div fwr">
            
        </div>
    </div>
{% endblock nav_header %}


{# PROFILE #}
    {% block profile_articles %}
        {% for board in canvas.notes.articles %}
            <div class="nts-host relative">
                <span id="page-assistant" class="hd" pid="{{board.pid}}"></span>
                <a href="{{ path('note_posts', {'post_id':board.pid}) }}" class="vw-anchor nts-host-anchor a">
                    <div class="nts-host-banner relative">
                        <div class="nts-host-display lozad rad2 bck" data-background-image="{{board.cover}}">
                            {% if board.note_is_img == true %}
                                <div class="nts-host-display-type nt-ui-rad4 ft-sect"><span>photo</span></div>
                            {% endif %}
                            <div class="nts-host-display-filter"></div>
                        </div>
                    </div>
                    <div class="nts-host-verb ft-sect">
                        <p>
                            <strong title="Paragraphs">{{board.paragraphs}}</strong><span class=""> paragraphs</span>
                        </p>
                    </div>
                    <div id="nts-host-title" class="nts-host-title">
                        <p class="trn3-color">{{board.if_view ~ board.title}}</p>
                    </div>
                </a>
                <div class="nts-host-verb-author ft-sect">
                    {% if board.access == 1 %}
                        <a href="#" class="a">
                            <button class="nts-show-menu-profiles no-bod"><i class="lg-i fa fa-ellipsis-v"></i></button>
                        </a>
                    {% else %}
                        <a class="a">
                            <p>[Removed]</p>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endblock profile_articles %}
    
    {% block people_articles %}
        {% if canvas.notes.articles != null %}
            {% for board in canvas.notes.articles %}
                {% if board.access == 1 %}
                    <div class="nts-host relative">
                        <span id="page-assistant" class="hd"></span>
                        <a href="{{ path('note_posts', {'post_id':board.pid}) }}" class="vw-anchor nts-host-anchor a">
                            <div class="nts-host-banner relative">
                                <div class="nts-host-display lozad rad2 bck" data-background-image="{{board.cover}}">
                                    {% if board.note_is_img == true %}
                                        <div class="nts-host-display-type nt-ui-rad4 ft-sect"><span>photo</span></div>
                                    {% endif %}
                                    <div class="nts-host-display-filter"></div>
                                </div>
                            </div>
                            <div class="nts-host-verb ft-sect">
                                <p>
                                    <strong title="Paragraphs">{{board.paragraphs}}</strong><span class=""> paragraphs</span>
                                </p>
                            </div>
                            <div id="nts-host-title" class="nts-host-title">
                                <p class="trn3-color">{{board.if_view ~ board.title}}</p>
                            </div>
                        </a>
                        <div class="nts-host-verb-author ft-sect">                    
                            <a href="#" class="a">
                                <button class="nts-show-menu-profiles no-bod"><i class="lg-i fa fa-ellipsis-v"></i></button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h1>There is nothing here</h1>
        {% endif %}
    {% endblock people_articles %}

    {% block people_page %}
        <span>
            <input id="profile-assistant" type="hidden" place="people" />

            <div id="profile-me-cover" class="pc-user-cover bck lozad" data-background-image="{{canvas.notes.profile.cover}}">

            </div>
            
            <div class="center">

                <div class="vf clear-fix">
                    <div class="">
                        <div class="npo-top relative">
                            <img id="profile-me-photo" class="npo-top-img rad50 lozad" data-src="{{canvas.notes.profile.display}}" />
                            <input class="page-sub-assistant" type="hidden" puname="{{canvas.notes.profile.username}}" />
                            <label class="people-subs-label followpeople-unsubs ft-sect">
                                <input type="checkbox" name="subscribe" class="" {{canvas.notes.subscribe.state}} visit="{{canvas.profile.visitor_state}}" />
                                <span class=""><span>{{canvas.notes.subscribe.title}}</span></span>
                            </label>
                        </div>
                        <div class="npo-two">
                            <h1 id="profile-me-name" class="ft-sect">{{canvas.notes.profile.name}}<br><small class="sm-i">@{{canvas.notes.profile.username}}</small></h1>
                            <p id="profile-me-about" class="sm-i ft-sect-lite">{{canvas.notes.profile.about}}</p>
                        </div>
                        <div class="npo-three ft-sect">
                            <ul class="nt-ul ul">
                                <li><i class="sm-i far fa-map"></i> {{canvas.notes.profile.location}}</li>
                                <li><a href="{{ path('note_followers', {'user_name':canvas.notes.profile.username}) }}" class="a"><strong>{{canvas.notes.profile.followers}}</strong> Followers</a></li>
                                <li><a href="{{ path('note_following', {'user_name':canvas.notes.profile.username}) }}" class="a"><strong>{{canvas.notes.profile.following}}</strong> Following</a></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="vf">
                    <div class="vf clear-fix">
                        <div class="pt-one">
                            <div class="profile-user-navigation ft-sect">
                                <a href="" class="profile-tab-active a">
                                    <p>Notes</p>
                                </a>
                            </div>

                            <div id="notes-container" class="home-notes-cover people-notes-container clear-fix">
                                {{ block('people_articles') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    {% endblock people_page %}

    {% block profile_page %}
        <span> 
            <input id="profile-assistant" type="hidden" place="profile" />

            <div id="profile-me-cover" class="pc-user-cover bck lozad" data-background-image="{{canvas.notes.profile.cover}}">

            </div>

            <div class="center">

                <div class="vf clear-fix">
                    <div class="">
                        <div class="npo-top">
                            <img id="profile-me-photo" class="npo-top-img rad50 lozad" data-src="{{canvas.notes.profile.display}}" />
                            <a class="a" href="{{ path('note_change', {'user_name':canvas.notes.profile.username}) }}">
                                <li class="npo-top-button ul ft-sect rad20 trn3-bck-color fwr" title="Update Account">
                                    <span><i class="sm-i fa fa-cog note-"></i> change</span>
                                </li>
                            </a>
                            <a class="a" href="{{ path('note_write') }}">
                                <li class="npo-top-button ul ft-sect rad20 trn3-bck-color fwr" title="Share something great">
                                    <span><i class="sm-i fa fa-plus"></i> write</span>
                                </li>
                            </a>
                        </div>
                        <div class="npo-two">
                            <h1 id="profile-me-name" class="ft-sect">{{canvas.notes.profile.name}}<br><small class="sm-i">@{{canvas.notes.profile.username}}</small></h1>
                            <p id="profile-me-about" class="sm-i ft-sect-lite">{{canvas.notes.profile.about}}</p>
                        </div>
                        <div class="npo-three ft-sect">
                            <ul class="nt-ul ul">
                                <li><i class="sm-i far fa-map"></i> {{canvas.notes.profile.location}}</li>
                                <li><a href="{{ path('note_followers', {'user_name':canvas.notes.profile.username}) }}" class="a"><strong>{{canvas.notes.profile.followers}}</strong> Followers</a></li>
                                <li><a href="{{ path('note_following', {'user_name':canvas.notes.profile.username}) }}" class="a"><strong>{{canvas.notes.profile.following}}</strong> Following</a></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="vf">
                    <div class="pt-one">
                        {{ block('profile_navigation') }}

                        {# Notes  #}
                        <div class="home-two-cover contain">
                            <div id="notes-container" class="home-notes-cover clear-fix">
                                {{ block('profile_articles') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    {% endblock profile_page %}
{# PROFILE - end #}


{# HISTORY #}
    {% block history_body %}
        <div class="pc-user-world center">
            <div class="vf">
                <div class="vf clear-fix">
                    <div class="pt-one">

                        {{ block('profile_navigation') }}

                        <div class="home-two-cover contain bck-wht" id="bck-wht">                
                            {{ block('history_list') }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endblock history_body %}

    {% block history_list %}
        <div id="notes-container" class="home-notes-cover clear-fix">
            {% if canvas.notes.articles.content != null %}
                {% for row in canvas.notes.articles.content %}
                    <div class="nts-host relative">
                        <span id="page-assistant" class="hd" pid="{{row.pid}}"></span>
                        <a href="{{path('note_posts', {'post_id':row.pid})}}" class="nts-host-anchor a">
                            <div class="nts-host-banner relative">
                                <div class="nts-host-display lozad rad2 bck" data-background-image="{{row.cover}}">
                                    <div class="nts-host-display-type nt-ui-rad4 ft-sect {{row.type}}"><span>photo</span></div>
                                    <div class="nts-host-display-filter"></div>
                                </div>
                            </div>
                            <div class="nts-host-verb ft-sect">
                                <p>
                                    <strong title="Paragraphs">{{row.paragraphs}}</strong><span class=""> paragraphs</span>
                                </p>
                            </div>
                            <div id="nts-host-title" class="nts-host-title">
                                <p class="trn3-color">{{row.title}}</p>
                            </div>
                        </a>
                        <div class="nts-host-verb-author ft-sect">
                            <a href="{{ path('note_profile', {'user_name':row.username}) }}" class="a">
                                <p>{{row.name}}</p>
                            </a>
                            <a href="#" class="a">
                                <button class="nts-show-menu-profiles-unv nts-show-menu-history no-bod"><i class="lg-i fa-solid fa-ellipsis-v"></i></button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1>There is nothing here</h1>
            {% endif %}
        </div>
    {% endblock history_list %}
{# HISTORY - end #}


{# DRAFT #}
    {% block draft_body %}
        <div class="pc-user-world center">
            <div class="vf">
                <div class="vf clear-fix">
                    <div class="pt-one">
                        {{ block('profile_navigation') }}

                        <div class="home-two-cover contain bck-wht" id="bck-wht">
                            <div id="notes-container" class="home-notes-cover">
                                {{ block('draft_list') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock draft_body %}

    {% block draft_list %}
        {% if canvas.notes.articles != null %}
            {% for row in canvas.notes.articles %}
                <div class="draft-box desktop-middle nt-ui-rad20 ft-sect">
                    <span id="draft-assistant" class="hd" pid="{{row.pid}}"></span>
                    <div class="draft-box-a">
                        <p>{{row.date}}</p>
                        <p>{{row.paragraphs}} paragraphs</a>
                    </div>
                    <div class="draft-box-b">
                        <a href="/nt/write/?drf=&did={{row.pid}}" class="a">
                            <p>{{row.title}}</p>
                        </a>
                    </div>
                    <div class="draft-box-c">
                        <a href="#" class="draft-box-c-delete a">
                            <p>Delete</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>There is nothing here</h1>
        {% endif %}
    {% endblock draft_list %}
{# DRAFT - end #}


{# SAVED #}
    {% block saved_body %}
        <div class="pc-user-world center">
            <div class="vf">
                <div class="vf clear-fix">
                    <div class="pt-one">
                        {{ block('profile_navigation') }}

                        <div class="home-two-cover contain bck-wht" id="bck-wht">
                            <div id="notes-container" class="home-notes-cover clear-fix">
                                {{ block('saved_list') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock saved_body %}

    {% block saved_list %}
        {% if canvas.notes.articles != null %}
            {% for row in canvas.notes.articles %}
                <div class="nts-host relative">
                    <span id="page-assistant" class="hd" pid="{{row.pid}}"></span>
                    <a href="{{ path('note_posts', {'post_id':row.pid}) }}" class="vw-anchor nts-host-anchor a">
                        <div class="nts-host-banner relative">
                            <div class="nts-host-display lozad rad2 bck" data-background-image="{{row.cover}}">
                                <div class="nts-host-display-type nt-ui-rad4 ft-sect {{row.type}}"><span>photo</span></div>
                                <div class="nts-host-display-filter"></div>
                            </div>
                        </div>
                        <div class="nts-host-verb ft-sect">
                            <p>
                                <strong title="Paragraphs">{{row.paragraphs}}</strong><span class=""> paragraphs</span>
                            </p>
                        </div>
                        <div id="nts-host-title" class="nts-host-title">
                            <p class="trn3-color">{{row.seen}}{{row.title}}</p>
                        </div>
                    </a>
                    <div class="nts-host-verb-author ft-sect">
                        <a href="{{ path('note_profile', {'user_name':row.username}) }}" class="a">
                            <p>{{row.name}}</p>
                        </a>
                        <a href="#" class="a">
                            <button class="nts-show-menu-profiles-unv nts-show-menu-saved no-bod"><i class="lg-i fa fa-ellipsis-v"></i></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>There is nothing here</h1>
        {% endif %}
    {% endblock saved_list %}       
{# SAVED - end #}


{# CHANGE #}
    {% block change_body %}
        <form method="POST" office="uid" id="change-form" class="change-form" enctype="multipart/form-data">
            <div class="profile-headers clear-fix">
                <div class="profile-headers-div fwl">
                    <a class="cancel-change a" href="{{ path('note_profile', {'user_name':canvas.notes.profile.username}) }}">
                        <button class="profile-headers-button ft-sect no-bod"><i class="sm-i fa fa-arrow-left"></i> cancel</button>
                    </a>
                </div>
                <div class="profile-headers-div fwr">
                    <button id="check-submit" type="submit" name="submit" class="check-submit profile-headers-button profile-headers-button-submit ft-sect no-bod">Save</button>
                </div>
            </div>

            <div id="profile-me-cover" class="pc-user-cover relative bck" my_cover="0" change="0" style="background-image:url('{{canvas.notes.profile.cover}}')">
                <input id="change-cover" class="hd" type="file" name="cover" />
                <button id="cover-trigger" class="profile-change-cover-button sha1 no-bod rad50" title="Change"><i class="sm-i note-a fa fa-camera"></i></button>
            </div>

            <div class="pc-user-world center">
                <div class="vf clear-fix">
                    <div class="new-po-one">
                        <div class="npo-top relative">
                            <img id="profile-me-display" class="npo-top-img rad50" src="{{canvas.notes.profile.display}}" />
                            <input id="change-display" class="hd" type="file" name="display" />
                            <button id="display-trigger" class="profile-change-button sha1 no-bod rad50" title="Change"><i class="sm-i note-a fa fa-camera"></i></button>
                        </div>
                    </div>
                </div>
                <div class="vf">
                    <div id="change-me-division" class="change-division ft-sect">
                        <p>Name: <span id="name-error" class="change-p-span note-s sm-i"></span></p>
                        <input id="chg-name" class="change-name ft-sect" type="text" name="name" cur_value="{{canvas.notes.profile.name}}" value="{{canvas.notes.profile.name}}" />

                        <p>Bio: <span id="bio-error" class="change-p-span note-s sm-i"></span></p>
                        <textarea id="chg-about" class="change-about ft-sect" name="about" onkeyup="auto_grow(this)" value="{{canvas.notes.profile.about}}">{{canvas.notes.profile.about}}</textarea>

                        <p>Location: <span id="location-error" class="change-p-span note-s sm-i"></span></p>
                        <input id="chg-location" class="change-location ft-sect" type="text" name="location" cur_value="{{canvas.notes.profile.location}}" value="{{canvas.notes.profile.location}}" />
                    </div>

                    <div class="profile-headers clear-fix">
                        <div class="profile-headers-div fwl">
                            <a class="cancel-change a" href="{{ path('note_profile', {'user_name':canvas.notes.profile.username}) }}">
                                <button class="profile-headers-button ft-sect no-bod"><i class="sm-i fa fa-arrow-left"></i> cancel</button>
                            </a>
                        </div>
                        <div class="profile-headers-div fwr">
                            <button id="check-submit" type="submit" name="submit" class="check-submit profile-headers-button profile-headers-button-submit ft-sect no-bod">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="change-notification hdd rad2" id="change-notification">
            <div class="change-notification-inner">
                <p id="change-notification-p" class="ft-sect">Making a difference</p>
            </div>
        </div>
    {% endblock change_body %}
{# CHANGE - end #}
