<!DOCTYPE html>
<html lang="en">
    <head>
        {# META #}
            <meta charset="UTF-8">
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height" />
            <meta name="author" content="Netintui Ent. Ajegunle, Lagos" />
            <meta name="application-name" content="Netintui Notes" />
            <meta name="keywords" content="Netintui,Notes,Creativity,Business,Money,Ideas,Innovation,News,Blog,Blogging,Design,Productivity,Passion,Tesla,Apple" />
            <meta name="robots" content="{% block robots %}{{true}}{% endblock %}" />
            <meta name="description" content="{% block description %}{% endblock %}" />

        {# BEAUTY #}
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:image" content="{% block twitter_image %}{{- absolute_url('images/logo/logo-white-full.png') -}}{% endblock %}" />
            <meta name="twitter:site" content="@netintui" />
            <meta name="twitter:description" content="{{ block('description') }}" />
            <meta name="twitter:title" content="{% block title %}{% endblock %}" />
            <meta property="og:site_name" content="Netintui" />
            <meta property="og:type" content="website" />
            <meta property="og:locale" content="en_US" />
            <meta property="og:title" content="{{ block('title') }}" />
            <meta property="og:image" content="{{ block('twitter_image') }}" />
            <meta property="og:description" content="{{ block('description') }}" />
            <meta property="og:url" content="{% block page_url %}{{- absolute_url(app.request.uri) -}}{% endblock %}" />

        {# TITLE #}
            <title>{{ block('title') }} :: Netintui Notes</title>

        {# STYLES #}
            <link href="{{ asset('lib/icons/fontawesome6/css/all.min.css') }}" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('images/logo/favicon.ico') }}" rel="icon" type="image/x-icon" />
            {% block stylesheets %}{% endblock %}
            {% block darkmode_stylesheet %}{% endblock %}
    </head>
    <body>
        <input type="hidden" id="page-assistant" />
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}

        {# SCRIPT #}
            <script type="text/javascript" src="{{ asset('scripts/plugins/lozad.js')}}" defer></script>
            {{ encore_entry_script_tags('app') }}
            {% block script_modules %}{% endblock %}
        {# SCRIPTS #}
            {% block script_others %}{% endblock %}
    </body>
</html>
